@mixin impact {
  font-family: 'Avantt', sans-serif;
  text-transform: uppercase;
}

@mixin accent {
  font-family: 'Saol Display', serif;
  font-style: italic;
  text-transform: none;
}

$screen-sm-min: 576;
$screen-md-min: 768;
$screen-lg-min: 992;
$screen-xl-min: 1200;
@mixin sm {
  @media (min-width: #{$screen-sm-min}px) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}px) {
    @content;
  }
}

$navbar-note: 0;
@function scale($octave: 0, $note: 0) {
  @return calc(1rem * pow(2, $octave) * pow(2, $note / 3));
}

/* https://spencermortensen.com/articles/typographic-scale/ */
@mixin typographic-scale($octave: 0, $note: 0) {
  font-size: scale($octave, $note);
}

@mixin css-lock(
  $min-size: 1,
  $max-size: 1.4,
  $min-width: 20,
  $max-width: 100,
  $property: font-size,
  $unit: px,
) {
  #{$property}: calc(
    calc(#{$min-size}#{$unit}) + calc((#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}#{$unit}) /
          (#{$max-width} - #{$min-width})))
  );

  @media (max-width: #{$min-width}#{$unit}) {
    #{$property}: #{$min-size}#{$unit};
  }

  @media (min-width: #{$max-width}#{$unit}) {
    #{$property}: #{$max-size}#{$unit};
  }
}

:root {
  @include css-lock(12, 17, $screen-sm-min, $screen-xl-min);
}

$navbar-vertical-padding: 40px;
$navbar-scale: 0;
$navbar-note: 0;
@function navbar-height() {
  @return calc(
    2 * #{$navbar-vertical-padding} +
      scale($navbar-scale, $navbar-note)
  );
}

@function rest-height($ratio) {
  @return calc($ratio * calc(100vh - navbar-height()));
}

:root {
  --navbar-height: #{navbar-height()};
}

@function circle-size($ratio) {
    @return min(calc(100vw * #{$ratio}), rest-height($ratio));
 }
