$impact-line-height: 0.75;
@mixin impact {
  font-family: 'Avantt', sans-serif;
  text-transform: uppercase;
  line-height: $impact-line-height;
}

@mixin accent {
  font-family: 'Saol Display', serif;
  font-style: italic;
  text-transform: none;
}

$screen-sm-min: 576;
$screen-md-min: 768;
$screen-lg-min: 992;
$screen-xl-min: 1200;
@mixin sm {
  @media (min-width: #{$screen-sm-min}px) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}px) {
    @content;
  }
}

$navbar-note: 0;
@function typographic-scale($octave: 0, $note: 0) {
  @return calc(1rem * pow(2, $octave) * pow(2, $note / 3));
}

/* https://spencermortensen.com/articles/typographic-scale/ */
@mixin typographic-scale($octave: 0, $note: 0) {
  font-size: typographic-scale($octave, $note);
}

:root {
  font-size: 10px;

  @include sm {
    font-size: 12px;
  }

  @include md {
    font-size: 14px;
  }

  @include lg {
    font-size: 16px;
  }

  @include xl {
    font-size: 18px;
  }
}

$navbar-vertical-padding: 40px;
$navbar-scale: 0;
$navbar-note: 0;
@function navbar-height() {
  @return calc(2 * #{$navbar-vertical-padding} + typographic-scale($navbar-scale, $navbar-note));
}

@function rest-height($ratio) {
  @return calc($ratio * calc(100vh - navbar-height()));
}

:root {
  --navbar-height: #{navbar-height()};
}

@function circle-size($ratio) {
  @return calc(min(100vw, 100vh) * #{$ratio});
}
